.sidebar {
  width: 200px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  flex-shrink: 0;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px; 
}

.button:hover {
  border-color: #349ebc;
}

.active {
  border-color: #349ebc; /* Different background for the active tab */
  color: #349ebc;
}
